*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: #F8F8F8;
}

.custom-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; 
}
